.moviescardlist {
  padding: 70px 0 30px;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  justify-content: center;
  gap: 32px 20px;
  list-style: none;
  background-color: #FAFAFA;
}

.moviescardlist__nothing-text {
  width: 100%;
  text-align: center;
  grid-column: span 3;
}

@media screen and (max-width: 1200px) {
  .moviescardlist {
    grid-template-columns: repeat(3, 270px);
  }
}

@media screen and (max-width: 1000px) {
  .moviescardlist {
    grid-template-columns: repeat(2, 270px);
  }
}

@media screen and (max-width: 800px) {
  .moviescardlist {
    grid-template-columns: repeat(2, 339px);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 750px) {
  .moviescardlist {
    grid-template-columns: repeat(1, 300px);
    gap: 20px 0;
    padding: 40px 0 30px;
  }
}