.header {
  padding: 18px 70px;
  background-color: #FAFAFA;
  min-height: 74px;
  box-sizing: border-box;
  display: flex;
}

.header_background-gray {
  background-color: #DDDEE3;
}

.header__block {
  display: flex;
  width: 100%;
  align-items: center;
}

.header__navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__desktop-menu-links {
  display: flex;
  margin-left: 45px;
  gap: 0 16px;
  align-items: center;
}

.header__link {
  margin: 0;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #000000;
}
.header__link:hover {
  opacity: .7;
}

.header__link_active {
  font-weight: 500;
}

.header__auth-block {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 0 30px;
}

.header__sign-btn {
  border: 0;
  border-radius: 3px;
  padding: 0;
  height: 32px;
  width: 76px;
  background-color: #3456F3;
  font-size: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}

.header__signup-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

.header__profile-link {
  padding: 0;
  width: 100px;
  height: 32px;
  background-image: url(../../images/menu/profile-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0;
  border-radius: 50px;
}

.header__profile-link:hover {
  opacity: .8;
}

.header__desktop-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__mobile-menu {
  z-index: 1;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vh;
  background: rgba(0, 0, 0, .3);
}

.header__mobile-menu-content {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  box-sizing: border-box;
  padding: 159px 90px 90px;
  width: 520px;
  background-color: #FAFAFA;
  right: 0;
  top: 0;
}

.header__mobile-menu-links {
  display: flex;
  flex-direction: column;
  gap: 22px 0;
}

.header__mobile-menu-open-btn {
  cursor: pointer;
  visibility: hidden;
  padding: 0;
  border: 0;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/menu/mobile-icon.svg);
}

.header__mobile-menu-open-btn:hover {
  opacity: .8;
}

.header__mobile-menu_close-btn {
  z-index: 3;
  position: absolute;
  padding: 0;
  width: 22px;
  height: 22px;
  border: 0;
  right: 22px;
  top: 22px;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/menu/btn-close.svg);
  cursor: pointer;
}

.header__mobile-menu_close-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 1200px) {
  .header__desktop-menu-links {
    margin-left: 44px;
  }
}

@media screen and (max-width: 1000px) {
  .header__desktop-menu {
    visibility: hidden;
  }

  .header__mobile-menu {
    visibility: visible;
  }

  .header__mobile-menu-open-btn {
    visibility: visible;
    min-width: 40px;
    height: 38px;
  }

  .header__link {
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    min-height: 28px;
    margin: 0 auto;
    padding-bottom: 4px;
  }

  .header__link_active {
    font-weight: 400;
    border-bottom: 2px solid black;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 13px 30px;
  }
}

@media screen and (max-width: 750px) {
  .header__desktop-menu {
    max-width: 214px;
  }

  .header__mobile-menu-content {
    width: 100%;
    padding: 144px 10px 46px;
  }
}

@media screen and (max-width: 500px) {
  .header__navigation {
    height: 38px;
  }  

  .header__link {
    padding-bottom: 7px;
  }

  .header__mobile-menu-links {
    gap: 15px 0;
  }

  .header {
    padding: 13px 14px;
  }

  .header__mobile-menu_close-btn {
    width: 20px;
    height: 20px;
  }
}