.register {
  width: 396px;
  margin: 70px auto;
}

.register__form-free-hight {
  height: 128px;
}

@media screen and (max-width: 800px) {
  .register {
    margin: 232px auto;
  }
}

@media screen and (max-width: 500px) {
  .register {
    width: 260px;
    margin: 56px auto;
  }

  .register__form-free-hight {
    height: 220px;
  }
}