.footer {
  padding: 79px 0 20px;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
}

.footer__text {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 20px;
  color: #A0A0A0;
}

.footer__block {
  margin: 0 auto;
  min-width: 1140px;
  padding-top: 20px;
  border-top: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
}

.footer__year {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #A0A0A0;
}

.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}

.footer__link {
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .footer__block {
    min-width: 968px;
  }
}

@media screen and (max-width: 1000px) {
  .footer__block {
    min-width: 668px;
  }
}

@media screen and (max-width: 750px) {
  .footer__text {
    min-width: 292px;
  }

  .footer__block {
    flex-direction: column-reverse;
    padding-top: 30px;
    min-width: 292px;
    gap: 30px 0;
  }

  .footer__links {
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }

  .footer__link {
    text-align: center;
  }

  .footer__year {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 750px) {
  .footer__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
  }
}