.about-me {
  box-sizing: border-box;
  padding: 110px 70px 100px;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
}

.about-me__title {
  width: 100%;
  margin: 0 0 66px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.88px;
}

.about-me__block {
  height: 327px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me__description-block {
  max-width: 600px;
}

.about-me__author-image {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

.about-me__name {
  margin: 0 0 18px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: left;
}

.about-me__job {
  margin: 0 0 26px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.about-me__history {
  margin: 0 0 78px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.about-me__link {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.about-me__link:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .about-me__author-image {
    width: 255px;
    height: 307px;
  }

  .about-me__history {
    font-size: 12px;
    max-width: 364px;
    line-height: 18px;
  }
}

@media screen and (max-width: 800px) {
  .about-me {
    padding: 90px 50px 91px;
  }

  .about-me__history {
    margin: 0;
    height: 195px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .about-me__job {
    margin: 0 0 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  .about-me__name {
    margin: 0 0 16px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
  }

  .about-me__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
  }
}

@media screen and (max-width: 800px) {
  .about-me__block {
    height: 307px;
  }
}

@media screen and (max-width: 750px) {
  .about-me {
    padding: 70px 14px 70px;
  }

  .about-me__title {
    margin: 0 auto 60px;
    padding-bottom: 28px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
  }

  .about-me__block {
    height: 654px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-me__author-image {
    height: 352px;
    width: 292px;
  }

  .about-me__description-block {
    padding-top: 40px;
    max-width: 292px;
  }

  .about-me__name {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
  }

  .about-me__job {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
  }

  .about-me__history {
    height: 152px;
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
  }

  .about-me__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
  }
}