.login {
  width: 396px;
  margin: 0 auto;
}

.login__form-free-hight {
  height: 134px;
}

@media screen and (max-width: 500px) {
  .login {
    width: 260px;
  }

  .login__form-free-hight {
    height: 310px;
  }
}