.error-notification {
  visibility: hidden;
  opacity: 1;
  position: fixed;
  top: 20px;
  right: 10px;
  height: 50px;
  width: 250px;
  padding: 5px;
  background-color: rgba(255, 0, 0, .8);
  border-radius: 10px;
  transition: opacity 2s;
}

.error-notification_visible {
  visibility: visible;
}
